aws_region         = "us-east-1"
cluster_name       = "safe-button"
kubernetes_version = "1.36"

cluster_role_arn      = "arn:aws:iam::119997536442:role/AmazonEKSAutoClusterRole"
node_role_arn         = "arn:aws:iam::119997536442:role/AmazonEKSAutoNodeRole"
pod_identity_role_arn = "arn:aws:iam::119997536442:role/PodRole"

subnet_ids = [
  "subnet-0e471cecc5c6b9006",
  "subnet-02168fa63ff94dc7d",
  "subnet-00ef86e85039d88be",
  "subnet-0a43265d0635ecd42",
  "subnet-078ab2f505fd3a409",
]

admin_principal_arns = [
  "arn:aws:iam::119997536442:user/minhle",
  "arn:aws:iam::119997536442:role/safe-button-deploy-role",
]
